flask<1.0.0
flask_appconfig
flask_bootstrap>=3.3.7.1
flask_cors
redis>=2.10.6
serial>=0.0.67
psutil>=5.4.6
flask-socketio>=2.0.0
#eventlet>=0.23.0
python-can>=2.2.1
gevent
python-mpd2>=1.0.0
python-can-remote
gevent-websocket
greenlet
influxdb
