<!-- <div class="navbar navbar-default navbar-fixed-bottom" role="quickcontrols">
    <div class="container">
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <div class="nav navbar-nav navbar-right">
          <p class="navbar-text small text-right" style="margin-top: 5px; margin-bottom: 5px;"> asd artist <br /> <b>title</b>with</p>
            <button type="button" class="btn btn-warning navbar-btn mpd pause">pause</button>
            <button type="button" class="btn btn-success navbar-btn mpd play">play</button>
            <button type="button" class="btn btn-danger navbar-btn">!!!</button>
            <button type="button" class="btn btn-default glyphicon glyphicon-minus navbar-btn mpd volume minus"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-plus navbar-btn mpd volume plus"></button>
            <button type="button" class="btn btn-default navbar-btn mpd previous">next</button>
            <button type="button" style="margin-right:30px"class="btn btn-default navbar-btn mpd next">prev</button>
        </div>
      </nav>
    </div>
</div>
 -->
