{% extends "layout.html" %}
{% block body %}
{{super()}}
<h1>Steckdosenleisten</h1>
  {% for stripname in strips %}
      <div class="block full">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{strips[stripname].displayText}}
            </h3>
          </div>
          <div class="panel-body row">
            {% for plug in plugs[stripname] %}
              <div class="col-xs-6 col-sm-4 col-lg-2">
                <div class="block-section text-center">
                        <button leiste="{{stripname}}" plug="{{plug.id}}" status="{{plug.status}}" class="
                        {% if not plug.changeable %}disabled{% endif %} 
                        {% if plug.changeable %}
                            {% if plug.status == 'on' %}btn-success{% elif plug.status == 'off' %}btn-danger{% endif %}
                        {% endif %} 
                        plug_on btn btn-lg btn-block rittal
                        ">{{plug.displayText}}</button>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  {% endfor %}


{{strips.strips|safe}}
{% endblock %}
